# Importando Bibliotecas

In [40]:
import pandas as pd

# Lendo Arquivo CSV

In [41]:
df = pd.read_csv('../Dados/dados.csv')

In [42]:
df.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

Pesquisa Nacional por Amostra de Domicílios - 2015
A Pesquisa Nacional por Amostra de Domicílios - PNAD investiga anualmente, de forma permanente, características gerais da população, de educação, trabalho, rendimento e habitação e outras, com periodicidade variável, de acordo com as necessidades de informação para o país, como as características sobre migração, fecundidade, nupcialidade, saúde, segurança alimentar, entre outros temas. O levantamento dessas estatísticas constitui, ao longo dos 49 anos de realização da pesquisa, um importante instrumento para formulação, validação e avaliação de políticas orientadas para o desenvolvimento socioeconômico e a melhoria das condições de vida no Brasil.

### Fonte dos Dados

https://ww2.ibge.gov.br/home/estatistica/populacao/trabalhoerendimento/pnad2015/microdados.shtm

In [43]:
UF = {'11': 'Rondônia',
     '12': 'Acre',
     '13': 'Amazonas',
     '14': 'Roraima',
     '15': 'Pará',
     '16': 'Amapá',
     '17': 'Tocantins',
     '21': 'Maranhão',
     '22': 'Piauí',
     '23': 'Ceará',
     '24': 'Rio Grande do Norte',
     '25': 'Paraíba',
     '26': 'Pernambuco',
     '27': 'Alagoas',
     '28': 'Sergipe',
     '29': 'Bahia',
     '31': 'Minas Gerais',
     '32': 'Espírito Santo',
     '33': 'Rio de Janeiro',
     '35': 'São Paulo',
     '41': 'Parana',
     '42': 'Santa Cartarina',
     '43': 'Rio Grande do Sul',
     '50': 'Mato Grosso do Sul',
     '51': 'Mato Grosso',
     '52': 'Goiás',
     '53': 'Distrito Federal'}

In [44]:
Sexo = {'0': 'Masculino',
       '1': 'Feminino'}

In [45]:
Cor = {'0':'Indigena',
      '2':'Branca',
      '4':'Preta',
      '6':'Amarela',
      '8':'Parda',
      '9':'Sem declaração'}

In [46]:
df['UF'] = df['UF'].apply(str)
df['Sexo'] = df['Sexo'].apply(str)
df['Cor'] = df['Cor'].apply(str)

In [47]:
df['UF'].dtypes

dtype('O')

In [48]:
df['UF'] = df['UF'].map(UF)
df['Sexo'] = df['Sexo'].map(Sexo)
df['Cor'] = df['Cor'].map(Cor)

In [54]:
df.isna().sum()

UF                0
Sexo              0
Idade             0
Cor               0
Anos de Estudo    0
Renda             0
Altura            0
dtype: int64

In [55]:
df.head()

         UF       Sexo  Idade     Cor  Anos de Estudo  Renda    Altura
0  Rondônia  Masculino     23   Parda              12    800  1.603808
1  Rondônia   Feminino     23  Branca              12   1150  1.739790
2  Rondônia   Feminino     35   Parda              15    880  1.760444
3  Rondônia  Masculino     46  Branca               6   3500  1.783158
4  Rondônia   Feminino     47   Parda               9    150  1.690631